<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <script th:src="@{/js/utility.js}"></script>
    <script th:src="@{/js/user.js}"></script>
</head>
<body>
    <!-- 헤더 포함 -->
    <div th:replace="~{header :: header}"></div>

    <main>
        <section class="auth-form">
            <h2>Login to Your Account</h2>
            <div id="login-form">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                <button id="loginButton">Login</button>
            </div>

            <div th:if="${result == false}">
                <span>로그인에 실패했습니다.</span>
            </div>
        </section>
    </main>

    <!-- 푸터 포함 -->
    <div th:replace="~{footer :: footer}"></div>

    <script th:src="@{/js/scripts.js}"></script>
</body>
</html>