<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
</head>
<body>
    <!-- 푸터 내용 -->
    <footer>
        <hr>
        <p style="padding:0px 20px;">
            <!-- 저작자 표시 -->
            <b style="color:darkslategrey;float:left;">&copy; 2024 DevBabys Team 1st Project Website. All rights reserved.</b>

            <!-- 팀 소개 -->
            <span style="float:right; position:relative; top:-7px;">
                <a href="https://github.com/orgs/DevBabys/repositories" style="text-decoration:none;" alt="팀깃허브">
                    <svg height="24" aria-hidden="true" viewBox="0 0 16 16" width="24" data-view-component="true" class="octicon octicon-mark-github v-align-middle color-fg-default">
                        <path d="M8 0c4.42 0 8 3.58 8 8a8.013 8.013 0 0 1-5.45 7.59c-.4.08-.55-.17-.55-.38 0-.27.01-1.13.01-2.2 0-.75-.25-1.23-.54-1.48 1.78-.2 3.65-.88 3.65-3.95 0-.88-.31-1.59-.82-2.15.08-.2.36-1.02-.08-2.12 0 0-.67-.22-2.2.82-.64-.18-1.32-.27-2-.27-.68 0-1.36.09-2 .27-1.53-1.03-2.2-.82-2.2-.82-.44 1.1-.16 1.92-.08 2.12-.51.56-.82 1.28-.82 2.15 0 3.06 1.86 3.75 3.64 3.95-.23.2-.44.55-.51 1.07-.46.21-1.61.55-2.33-.66-.15-.24-.6-.83-1.23-.82-.67.01-.27.38.01.53.34.19.73.9.82 1.13.16.45.68 1.31 2.69.94 0 .67.01 1.3.01 1.49 0 .21-.15.45-.55.38A7.995 7.995 0 0 1 0 8c0-4.42 3.58-8 8-8Z"></path>
                    </svg>
                </a>
                <a class="footer" href="https://www.notion.so/b171993e963d42d7afdcc97f2f90f1ae?v=7c799b812c2f4a618416acbcbf768e9c&pvs=4" style="position:relative;top:3px;" alt="팀노션">
                    <img class="XNo5Ab" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAAAAABXZoBIAAAA80lEQVR4AZTRIYyDMBjF8efxBn3qfFD1IcGiUFOIyVokAos6h8IjEXNIfD6DqUXOVb7jNnK027pkf9mfeE0LvukjtOtifJRp6BpdqAi3kquDLSJV6KYbJjF/5zXGA8/o6SU4OYhyHzQyX4bupwSWA4FvOMUKpYvVtjlOsqz322QunumXP6A1MpGcK62eUQGoSKPBZ2QOQMj+JWYREIUwzVqgCWFCACaIM5AMIWQJxEG0ADxsdswUyfEB7R0lQm7J3EfKDcdZVm4ZbhX/yM55eHs1Mk84kDmaWp9S51O7AxkDwFda6Lrth8s+gN/BTaMgUWMCAITxMqVHQtVcAAAAAElFTkSuQmCC" style="height:29px;width:29px" alt="" data-csiid="10" data-atf="1">
                </a>
            </span>

            <!-- 팀원 깃허브
            <a href="https://github.com/luvris2">Eunbyeol Ko</a>    /   <a href="https://github.com/yek-j">Yekyung Jeon</a>
            -->
        </p>
    </footer>
</body>
</html>