<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <style>
        a {font-size=30px;}
    </style>
</head>
<body>
    <!-- 헤더 내용 -->
    <header>
        <span>
            <a href="/">
                <img src="https://avatars.githubusercontent.com/u/163366003?s=200&v=4" style="border-radius:50%; border:1px solid #eee; width:50px; height:50px;" alt="데브베이비즈 로고">
                Dev Babys Mall
            </a>
        </span>
        <div name="divUserContainer">
            <div th:if="${token != null}">
                <span> 로그인 상태 </span>
                <a href="/user/logout">로그아웃</a>
            </div>
            <div th:if="${token == null}">
                <span style="float:right;">
                    <a href="/user/login">로그인</a>
                    <a href="/user/sign">회원가입</a>
                </span>
            </div>
        </div>
    </header>
</body>
</html>